.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    to right,
    rgba(47,48,58,0.4),
    rgba(47,48,58,0.4)),
    url('../img/task_9/optimize/phone/hero@1x.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 30px;

        @media screen and (min-width: $TabletWidth) {
        background-image: linear-gradient(
        to right,
        rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)),
        url('../img/task_9/optimize/tablet/hero@1x.jpg');
}
        @media screen and (min-width: $DesktopWidth) {
            padding-bottom: 200px;
            padding-top: 200px;     
            background-image: linear-gradient(
            to right,
            rgba(47,48,58,0.4),
            rgba(47,48,58,0.4)),
            url('../img/task_9/optimize/desktop/hero@1x.jpg');
        }
}
        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            to right,
            rgba(47,48,58,0.4),
            rgba(47,48,58,0.4)),url('../img/task_9/optimize/phone/hero@2x.jpg');

            @media screen and (min-width: $TabletWidth) {
                background-image: linear-gradient(
                to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
                url('../img/task_9/optimize/tablet/hero@2x.jpg');
            }
            @media screen and (min-width: $DesktopWidth) {
            padding-bottom: 200px;
            padding-top: 200px;     
            background-image: linear-gradient(
            to right,
            rgba(47,48,58,0.4),
            rgba(47,48,58,0.4)),
            url('../img/task_9/optimize/desktop/hero@2x.jpg');
        }
    }
}
.title-hero {
    @include FontType(26px, 900, 1.6, 0.06em);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    color: var(--third-background-color);  
        @media screen and (min-width: $DesktopWidth) {
            @include FontType(44px, 900, 1.36, 0.06em);
            padding-bottom: 30px;
        }
}
.button {
    display: block;
    background-color: var(--accent-color);
    @include FontType(16px, 700, 1.9, 0.06em);
    text-align: center;
    color: var(--third-background-color);
    margin:0 auto;
    padding: 10px 32px;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
}