header {
  border-bottom: 1px solid #ececec;
  background-color: var(--third-background-color);
  justify-content: space-between;
}
nav {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
    @media screen and (max-width: 767px) {
      display: none;
      margin-left: auto;
    }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $MobileWidth) {
    width: $MobileWidth;
  }
  @media screen and (min-width: $TabletWidth) {
    width: $TabletWidth;
  }
  @media screen and (min-width: $DesktopWidth) {
    width: $DesktopWidth;
  }
}
.logo {
  display: block;
  color: var(--accent-color);
}
.icon {
  @include FontType(24px, 700, 1.16, 0.03em);
  display: flex;
  font-family: $logo-font;
  color: var(--icon-color);
  align-items: center;

  @media screen and (min-width: $DesktopWidth) {
    @include FontType(26px, 700, 1.2, 0.03em);
  }
}
.contacts {
  align-items: center;
  margin-left: 0;
   @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $TabletWidth) {
      display: block;
    }
    @media screen and (min-width: $DesktopWidth) {
      display: flex;
      margin-left: auto;
    }
    
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav-link {
  @include FontType(14px, 500, 1.14, 0.02em);
  display: flex;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transition;

  &.current {
    position: relative;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header { 
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 60px;
    width: 100%;
  }
  @media screen and (min-width: $DesktopWidth) {
    justify-content: end;
  }
}
.nav > li:first-child {
  margin-left: 93px;

   @media screen and (max-width: 1199px) {
     margin-left: 0;
   }
}
.nav > li:not(:first-child) {
  margin-left: 50px;
}
.current {
  display: block;
  color: var(--accent-color);
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
}
.contacts > li:last-child {
 @media screen and (min-width: $DesktopWidth) {
     margin-left: 93px;
 }
}
.contact {
  @include FontType(14px, 500, 1.14, 0.02em);
  color: var(--primary-text-color);
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transition;
    @media screen and (max-width: 1199px) {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 10px;

    :last-child {
      margin-bottom: 0;
    }  
    }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.menu-button {
  display: block;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 25px;
  margin-right: auto;
  border: none;
  background-color: transparent;
  align-items: center;
  fill: currentColor;
  z-index: 2;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  @media screen and (min-width: $TabletWidth) {
    display: none;
  }
}
.menu-container {
  display: none;

  &.is-open {
    display: block;
    padding-top: 48px;
    padding-left: 40px; 
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--third-background-color);
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
  position: absolute;
  z-index: 2;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.mobile-nav {
  display: block;
  &__link {
    display: block;
    margin-bottom: 32px;
    @include FontType(40px, 500, 1.17, 0.02em);
    color: var(--secondary-text-color);

    &.current {
      color: var(--accent-color);
    }
  }
}
.mobile-contact {
  margin-top: 40vh;
  margin-bottom: 32px;
  display: block;
  @include FontType(34px, 500, 1.18, 0.02em);
  color: var(--accent-color);
}
.mobile-mail-contact {
  display: block;
  @include FontType(24px, 500, 1.16, 0.02em);
  color: var(--primary-text-color);
}
.menu-social {
  display: inline-flex;
  align-items: flex-end;

  &__link {
    display: block;
    @include FontType(18px, 500, 1.22, 0.02em);
    color: inherit;
    color: var(--accent-color);
    margin-top: 64px;

    &:not(:last-child)::after {
      content: '';
      width: 1px;
      height: 22px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
