header {
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--third-background-color);
  display: flex;
  position: relative;
}
nav {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    /* min-width: 1200px; */
  }
}

.logo {
  display: block;
  color: var(--accent-color);
}
.icon {
  @include FontType(24px, 700, 1.16, 0.03em);
  display: flex;
  font-family: $logo-font;
  color: var(--icon-color);
  align-items: center;

  @media screen and (min-width: 1200px) {
    /* width: 1200px; */
    /* min-width: 1200px; */
    @include FontType(26px, 700, 1.2, 0.03em);
  }
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav-link {
  @include FontType(14px, 500, 1.14, 0.02em);
  display: flex;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color $transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    height: 60px;
    width: 100%;
  }
}

.nav > li:first-child {
  margin-left: 93px;
}
.nav > li:not(:first-child) {
  margin-left: 50px;
}

.current {
  display: block;
  color: var(--accent-color);
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts > li:last-child {
  margin-left: 50px;
}
.contact {
  @include FontType(14px, 500, 1.14, 0.02em);
  color: var(--primary-text-color);
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transition;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.menu-button {
  display: block;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  border: none;
  background-color: transparent;
  align-items: center;

  fill: currentColor;
  z-index: 2;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  display: none;
  width: 100%;

  &.is-open {
    display: block;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    position: absolute;

    top: 0;
    left: 0;
    max-height: 796px;

    background-color: var(--third-background-color);
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  position: absolute;
  top: 50px;
  z-index: 2;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.mobile-nav {
  display: block;
  &__link {
    display: block;
    margin-bottom: 32px;
    @include FontType(40px, 500, 1.17, 0.02em);
    color: var(--secondary-text-color);

    &.current {
      color: var(--accent-color);
    }
  }
}
.mobile-contact {
  margin-bottom: 32px;
  display: block;
}
.menu-social {
  display: inline-flex;
  align-items: flex-end;

  &__link {
    display: block;
    @include FontType(18px, 500, 1.22, 0.02em);
    color: inherit;
    color: var(--accent-color);
    /* flex-basis: calc(100% / 4 - 10px); */

    &:not(:last-child)::after {
      content: '';
      width: 1px;
      height: 22px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
