body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: $basic-font;
}
.our-advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  /*  @media screen and (max-width: 767px) {
      /* margin-top: 60px; 
    }  */
  @media screen and (min-width: 1199px) {
    padding-bottom: 94px;
  }
}
.list-advantages {
  @media screen and (max-width: 767px) {
    & h3.head-advantages {
      text-align: center;
    }
  }
  @media screen and (min-width: $TabletWidth) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: $DesktopWidth) {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}
.desc-advantages {
  padding-bottom: 0;
  @media screen and (min-width: $TabletWidth) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2-30px);
    max-width: 354px;
  }
  @media screen and (min-width: $DesktopWidth) {
    margin-left: 0;
    margin-top: 0;
    max-width: 270px;
  }
}
.advantages {
  @include FontType(14px, 400, 1.7, 0.03em);
  @media screen and (min-width: $MobileWidth) {
    width: calc(100% / 1);
    margin-top: 10px;
  }
  @media screen and (min-width: $TabletWidth) {
    margin-bottom: 0;
  }
}
.head-advantages {
  @include FontType(14px, 700, 1.14, 0.03em);
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.our-work {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.section-title {
  @include FontType(36px, 700, 1.17, 0.03em);
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-color);
  @media screen and (min-width: $DesktopWidth) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-team {
  @include FontType(28px, 700, 1.17, 0.03em);
  color: var(--secondary-text-color);
  text-align: center;
  padding-bottom: 50px;
  @media screen and (min-width: $DesktopWidth) {
    @include FontType(36px, 700, 1.7, 0.03em);
  }
}
.work {
  display: block;
  @media screen and (min-width: $TabletWidth) {
    width: 354px;
  }
  @media screen and (min-width: $DesktopWidth) {
    width: 370px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 450px;
  }
}
.our-team .work {
  @media screen and (min-width: $DesktopWidth) {
    width: 270px;
  }
}
.list-work-item {
  position: relative;
  justify-content: center;
}
.work-type {
  @include FontType(14px, 700, 70px, 0.03em);
  margin: auto;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  white-space: nowrap;
  align-items: center;
  text-align: center;
  color: var(--third-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.list-work {
  @media screen and (min-width: $MobileWidth) {
    width: $MobileWidth;
  }
  @media screen and (min-width: $TabletWidth) {
    width: $TabletWidth;
  }
  @media screen and (min-width: $DesktopWidth) {
    width: $DesktopWidth;
    display: flex;
    justify-content: center;
  }
}
.list-work > li {
  margin-right: 27px;
}
.list-work :last-child {
  margin-right: 0;
}
.all-team {
  @media screen and (min-width: $TabletWidth) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: space-evenly;
  }
}
.team-memeber {
  background-color: var(--third-background-color);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: $TabletWidth) {
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.employee-name {
  @include FontType(16px, 500, 1.2, 0.03em);
  color: var(--secondary-text-color);
  text-align: center;
  margin-top: 30px;
}
.employee-job {
  @include FontType(16px, 400, 1.2, 0.03em);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
.antenna::before {
  background-image: url(../img/optymizes_svg/antenna.svg);
  @extend %icon-advantages;
}
.clock::before {
  background-image: url(../img/optymizes_svg/clock.svg);
  @extend %icon-advantages;
}
.astronaut::before {
  background-image: url(../img/optymizes_svg/astronaut.svg);
  @extend %icon-advantages;
}
.diagram::before {
  background-image: url(../img/optymizes_svg/diagram.svg);
  @extend %icon-advantages;
}
.social-block {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
main {
  background-color: var(--third-background-color);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.our-clients {
  @include FontType(36px, 700, 1.17, 0.03em);
  color: var(--secondary-text-color);
  text-align: center;
  padding-bottom: 50px;

  @media screen and (max-width: 1199px) {
    @include FontType(28px, 700, 1.14, 0.03em);
    padding-bottom: 30px;
  }
}
.icon-clients {
  display: inline-flex;
  fill: currentColor;
}
.first {
  width: 44.2px;
  height: 48.6px;
}
.second {
  width: 40px;
  height: 52px;
}
.third {
  width: 41px;
  height: 42px;
}
.forth {
  width: 79.6px;
  height: 42px;
}
.fifth {
  width: 59px;
  height: 47px;
}
.sixth {
  width: 88.5px;
  height: 45.5px;
}
.square {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: space-evenly;
  }
}
.icon-square {
  border: 1px solid var(--link-color);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  background-color: var(--third-background-color);
  color: var(--link-color);
  transition: color $transition, border $transition;
  margin-left: 30px;
  margin-top: 30px;
    @media screen and (min-width: $TabletWidth) {
    width: 226px;
  }
    @media screen and (min-width: $DesktopWidth) {
      width: 170px;
    }
  
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
.square > li:last-child {
  margin-right: 0;
}
.main {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $DesktopWidth) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.total {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.filter {
  display: flex;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 30px;
  @media screen and (min-width: $TabletWidth) {
    margin: auto;
  }
    @media screen and (min-width: $DesktopWidth) {
      padding-bottom: 50px;
    }  
}
.list-filter {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}
.button-filter {
  @include FontType(16px, 500, 1.6, 0.03em);
  font-family: inherit;
  color: var(--secondary-text-color);
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  background-color: var(--team-color);
  border-radius: 4px;
  transition: color $transition, background-color $transition,
    box-shadow $transition;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-background-color);
    box-shadow: 0px 4px 4px 0px #000000 25%;
  }
}
button {
  outline: none;
  border: none;
}
.projects {
  @include FontType(18px, 700, 2, 0.06em);
  text-align: left;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.all-portfolio .one-work:nth-child(2) .projects-item {
  padding-right: 10px;
}
.all-portfolio {
  margin-left: -30px;
  margin-top: -30px;
  @media screen and (min-width: $TabletWidth) {
    display: flex;
    flex-wrap: wrap;
  }
}
.one-work {
  background: var(--third-background-color);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow $transition;
}
.one-work-link:focus,
.one-work-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.img-advertisment {
  display: block;
  width: 100%;
  height: 100%;
  @media screen and (min-width: $TabletWidth) {
    width: 354px;
  }
  @media screen and (min-width: $DesktopWidth) {
    width: 370px;
  }
}
.projects-text {
  @include FontType(18px, 400, 1.55, 0.03em);
  margin: 0;
  justify-content: center;
  text-align: center;
  color: var(--third-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  transform: translateY(420px);
  transition: transform $transition;
  @media screen and (max-width: 1199px) {
    padding: 63px 10px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}
.one-work-link:focus .projects-text,
.one-work-link:hover .projects-text {
  transform: translateY(0);
}
.projects-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;

  @media screen and (max-width: 1199px) {
    height: 146px;
  }
  @media screen and (max-width: 767px) {
    height: 110px;
  }
}
.projects-description {
  @include FontType(16px, 400, 1.9, 0.03em);
  text-align: left;
  margin: 0;
  color: var(--primary-text-color);
}
.social-block {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $TabletWidth) {
    margin-left: 32px;
    margin-right: 25px;
  }
}
