:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --third-background-color: #fff;
  --icon-color: #000;
  --team-color: #f5f4fa;
  --link-color: #afb1b8;
}
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$basic-font: Roboto,  sans-serif;
$logo-font: Raleway, sans-serif;

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
%icon-advantages {
  display: block;
  content: '';
  contain: content;
  width: 270px;
  height: 120px;
  margin-bottom: 55px;
  background-color: var(--team-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@mixin FontType($font-size, $font-weight, $line-height, $letter-spacing){
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
